--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.6.0
torchvision
diffusers==0.32.2
transformers==4.47.0
accelerate==1.3.0
fastapi==0.115.6
uvicorn[standard]==0.34.0
pillow==11.1.0
pydantic==2.10.4
